<div class="container">
  <div class="columns">
    <div class="column col-12">
    <a class="float-right btn" href="/logs/<%= id %>">History</a>
    <%= lit_code %>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/app.js?<%= Time.now %>"></script>
